/** Общие стили **/
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-light.woff2") format("woff2"), url("../fonts/montserrat-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-regular.woff2") format("woff2"), url("../fonts/montserrat-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-medium.woff2") format("woff2"), url("../fonts/montserrat-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-semibold.woff2") format("woff2"), url("../fonts/montserrat-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-bold.woff2") format("woff2"), url("../fonts/montserrat-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #082809;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: #3EB340;
}
a:hover {
  color: #83d484;
}
a:active {
  color: #246725;
}
.container {
  margin: 0 auto;
  padding: 0 8%;
}
.line {
  border-bottom: 1px solid #E2E4E0;
}
.btn {
  padding: 11px 40px;
  color: #fff;
  border: none;
  background: linear-gradient(180deg, #3EB340 0%, #358935 100%);
  border-radius: 24px;
}
.btn:hover {
  cursor: pointer;
  background: linear-gradient(180deg, #83d484 0%, #389038 100%);
}
.btn:active {
  outline: none;
  background: linear-gradient(180deg, #246725 0%, #328232 100%);
}
.btn:focus {
  outline: none;
}
.title {
  margin: 0;
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
  color: #358935;
}
input,
textarea {
  display: block;
  width: 100%;
  margin-bottom: 25px;
  padding: 13px 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #526953;
  border: 1px solid #358935;
  border-radius: 8px;
  box-sizing: border-box;
}
textarea {
  height: 138px;
}
@media (max-width: 1120px) {
  /**
	body {
		background: rgba(255,255,0,0.1);
	} **/
  body {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #082809;
  }
  .container {
    margin: 0 auto;
    padding: 0 3.7%;
  }
  .title {
    font-size: 24px;
    line-height: 29px;
  }
}
@media (max-width: 767px) {
  /**
	body {
		background: rgba(255,25,0,0.1);
	} **/
  body {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: #082809;
  }
  .container {
    margin: 0 auto;
    padding: 0 16px;
  }
  .btn {
    padding: 9px 29px;
  }
  .title {
    font-size: 18px;
    line-height: 22px;
  }
}
/*----------------------- Шапка ------------------------------ */
.page-header {
  display: flex;
  flex-direction: column;
}
.page-header section,
.header-top > div,
.header-middle > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
}
.page-header .header-top {
  position: relative;
  display: block;
  margin-bottom: 15px;
}
.page-header .header-middle {
  position: relative;
  display: block;
}
.page-header .header-bottom {
  position: relative;
}
/* ==== Выбор города ====  */
.location,
.location-other {
  margin: 0;
  padding: 0;
  list-style: none;
}
.location {
  padding-left: 45px;
}
.location li {
  padding: 15px 0;
}
.location li a {
  color: rgba(8, 40, 9, 0.7);
  text-decoration: none;
}
.location li a:hover {
  color: #3EB340;
}
.location .current {
  position: relative;
  padding-right: 25px;
  background-size: 16px 16px;
}
.location .current > a:hover {
  cursor: default;
}
.location .current:hover .location-icon-arrow {
  fill: #358935;
  transform: rotate(180deg);
}
.location .current:hover .location-icon-place {
  fill: #3EB340;
}
.location-icon-arrow {
  position: absolute;
  top: 17px;
  right: 0;
  transition: all 0.2s;
}
.location-icon-place {
  position: absolute;
  top: 8px;
  left: -40px;
  fill: #358935;
}
.location-other {
  position: absolute;
  z-index: 2;
  top: 70%;
  display: none;
  width: 150px;
  background: #F5FFF0;
}
.location-other li {
  padding: 5px 0;
  border-bottom: 1px solid #f4f5f3;
}
.location .current:hover .location-other {
  display: block;
}
/* ==== Меню ====  */
.main-menu {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-menu li {
  margin-right: 60px;
}
.main-menu li:last-child {
  margin-right: 0;
}
.main-menu li a {
  color: rgba(8, 40, 9, 0.7);
  text-decoration: none;
}
.main-menu li a:hover {
  color: #3EB340;
}
.main-menu li a:active {
  color: #358935;
}
.main-menu li:hover .submenu-icon {
  fill: #358935;
  transform: rotate(180deg);
}
.submenu-wrapper {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  display: none;
  min-width: 500px;
  max-width: 95%;
  min-height: 150px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  list-style: none;
  background: #3EB340;
}
.submenu-area {
  position: absolute;
  top: 34px;
  left: 0;
  right: 0;
  z-index: 1;
  display: none;
  width: 95%;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background: transparent;
}
.sub-icon {
  position: relative;
}
.sub-icon::after {
  position: absolute;
  content: "";
  display: none;
  width: 100%;
  height: 50px;
  background: #3EB340;
}
nav .submenu {
  display: none;
  padding: 0;
  text-align: center;
  list-style: none;
}
nav .submenu li {
  margin: 0;
  padding: 5px 0;
  text-align: left;
}
nav .submenu li a {
  color: #fff;
}
nav .submenu li a:hover {
  color: #193f19;
}
nav .submenu li a:active {
  color: #246725;
}
nav li .submenu .submenu-title {
  font-weight: 600;
  color: #193f19;
}
nav li .submenu .submenu-title:hover {
  color: #fff;
}
nav li .submenu .submenu-title:active {
  color: #246725;
}
nav li:hover .submenu-wrapper {
  display: flex;
  z-index: 2;
}
.submenu-column {
  flex-basis: 33%;
}
nav li:hover .submenu-area,
nav li:hover .submenu,
nav li:hover .sub-icon::after {
  display: block;
}
/* ==== Вход для пользователей ====  */
.user {
  position: relative;
}
.user:hover .user-icon {
  fill: #3EB340;
}
.user a {
  padding-left: 48px;
  color: #082809;
  text-decoration: none;
}
.user a:hover {
  color: #3EB340;
}
.user a:active {
  color: #358935;
}
.user a:active + .user-icon {
  fill: #246725;
}
.user-icon {
  position: absolute;
  top: -30%;
  left: 0;
  fill: #358935;
}
/* ==== Лого ====  */
.logo-header {
  max-width: 23%;
  margin-right: 15px;
}
.logo-header:hover {
  opacity: 0.8;
}
.logo-header:active {
  opacity: 0.5;
}
/* ==== Поиск ====  */
.mobile-search-show,
.mobile-glass {
  display: none;
}
.search {
  position: relative;
  margin-right: 30px;
}
.search input {
  margin: 0;
  padding: 12px 30px;
  padding-right: 70px;
  max-width: 280px;
  background: #FFFFFF;
  border: 1px solid #358935;
  border-radius: 24px;
  box-sizing: border-box;
}
.search input:focus ~ .search-icon,
.search input:active ~ .search-icon {
  display: none;
}
.search-button {
  position: absolute;
  right: -22px;
  top: 0;
  bottom: 0;
  padding: 12px 15px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-sizing: border-box;
}
.search-icon {
  position: absolute;
  top: 14px;
  left: 10px;
  fill: #758775;
}
.phone {
  flex-shrink: 0;
  margin-right: 15px;
  font-size: 18px;
  text-align: right;
}
.phone a {
  display: block;
  margin-bottom: 6px;
  color: #082809;
  text-decoration: none;
  font-weight: 600;
  line-height: 22px;
}
.phone a:hover {
  color: #3EB340;
}
.time {
  position: relative;
  margin-right: 15px;
  font-size: 18px;
  text-align: center;
}
.time p {
  margin: 0;
  margin-bottom: 10px;
  padding-left: 40px;
}
.time a {
  display: block;
  font-weight: 400;
}
.time-icon {
  position: absolute;
  top: -8px;
  left: 0;
  fill: #358935;
}
.likes {
  position: relative;
  display: block;
  margin-right: 15px;
  content: "";
}
.likes:hover .likes-icon {
  fill: #62c262;
}
.likes:active .likes-icon {
  fill: #193f19;
}
.likes-icon {
  fill: #358935;
}
.likes-count {
  position: absolute;
  top: 0;
  left: 30px;
  width: 16px;
  height: 15.8px;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  color: #fff;
  background: #F26262;
  border-radius: 100%;
}
.cart {
  position: relative;
  display: block;
  text-decoration: none;
}
.cart:hover .basket-icon {
  fill: #3EB340;
}
.cart:active .basket-icon {
  fill: #246725;
}
.basket-icon {
  position: absolute;
  top: -12px;
  fill: #358935;
}
.basket-count {
  position: absolute;
  top: -14px;
  left: 30px;
  width: 16px;
  height: 15.8px;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  color: #fff;
  background: #F26262;
  border-radius: 100%;
}
.sum {
  margin: 0;
  padding: 0;
  padding-left: 50px;
  white-space: nowrap;
}
/* ==== Меню Категорий ====  */
.mobile-burger-checkbox,
.mobile-burger {
  display: none;
}
.header-bottom {
  margin-top: 15px;
  padding-top: 24px;
  padding-bottom: 24px;
  background: #F5FFF0;
}
.category-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.category-menu li {
  margin-right: 2%;
  margin-bottom: 24px;
  width: auto;
}
.category-menu li a {
  color: #082809;
  text-decoration: none;
  text-transform: uppercase;
}
.category-menu li a:hover {
  color: #3EB340;
}
.category-menu li a:active {
  color: #358935;
}
.category-menu li .current {
  color: #358935;
}
.category-menu li .current:hover {
  color: #3EB340;
}
.category-menu li .current:active {
  color: #082809;
}
.category-gifts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.category-gifts li {
  margin-right: 2.1%;
}
.gifts-selection {
  font-weight: 600;
  color: #082809;
  text-decoration: none;
}
@media (min-width: 1400px) {
  .search {
    width: 30%;
  }
  .search input {
    max-width: 100%;
  }
}
/*----------------------- Шапка - Планшетная версия  ------------------------------ */
@media (max-width: 1120px) {
  .page-header section,
  .header-top > div,
  .header-middle > div {
    flex-wrap: wrap;
    min-height: 56px;
  }
  .page-header .header-top {
    margin-bottom: 22px;
  }
  .location {
    margin-right: 10px;
  }
  .main-menu li {
    margin-right: 48px;
    white-space: nowrap;
  }
  .submenu li {
    margin: 0;
  }
  .logo-header {
    max-width: 28%;
  }
  .search {
    order: 1;
    flex-grow: 1;
    width: auto;
    margin-top: 30px;
  }
  .search input {
    max-width: none;
    padding-left: 50px;
  }
  .search .search-button {
    padding: 13px 50px;
  }
  .category-menu li {
    margin-right: 5%;
  }
  .category-menu li a {
    font-size: 18px;
    line-height: 22px;
  }
}
@media (max-width: 1000px) {
  .main-nav {
    order: 1;
    width: 100%;
  }
  .main-menu {
    justify-content: space-between;
  }
  .submenu-wrapper {
    top: 80px;
  }
}
/*----------------------- Шапка - Мобильная версия ------------------------------ */
@media (max-width: 767px) {
  .main-nav,
  .page-header .phone,
  .page-header .time {
    display: none;
  }
  .logo-header {
    max-width: 51.2%;
    margin-right: 3px;
  }
  .mobile-glass {
    display: block;
    margin-right: 3px;
    fill: #358935;
  }
  .mobile-glass:hover {
    cursor: pointer;
    fill: #62c262;
  }
  .mobile-glass:active {
    fill: #193f19;
  }
  .mobile-glass svg {
    width: 24px;
    height: 24px;
  }
  .search {
    display: none;
  }
  section.header-bottom {
    padding: 0 4.2%;
    background: transparent;
  }
  .mobile-search-show:checked ~ .search {
    display: block;
  }
  .category-nav.container {
    display: none;
    padding: 0;
  }
  .likes {
    margin-right: 3px;
  }
  .likes svg {
    width: 24px;
    height: 24px;
  }
  .likes-count {
    left: 15px;
    top: -7px;
  }
  .basket-icon {
    width: 24px;
    height: 24px;
    top: -6px;
    left: 2px;
  }
  .basket-count {
    left: 17px;
    top: -12px;
  }
  .sum {
    padding-left: 30px;
  }
  .header-bottom {
    padding: 0;
  }
  .mobile-burger-checkbox:checked ~ .category-nav {
    display: block;
  }
  .mobile-burger {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 18px 0;
    padding-left: 56px;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #358935;
    background: #F5FFF0;
    border-radius: 8px;
  }
  .mobile-burger:hover,
  .mobile-burger:active {
    color: #fff;
    cursor: pointer;
    background: #3fbd00;
  }
  .mobile-burger:hover .burger-icon,
  .mobile-burger:hover .burger-icon::before,
  .mobile-burger:hover .burger-icon::after {
    background-color: #fff;
  }
  .burger-icon {
    position: absolute;
    left: 16px;
    top: 48%;
    display: block;
    width: 24px;
    height: 1.8px;
    background: #358935;
  }
  .burger-icon::before,
  .burger-icon::after {
    position: absolute;
    content: "";
    display: block;
    width: 24px;
    height: 1.8px;
    background: #358935;
  }
  .burger-icon::before {
    top: -5.6px;
  }
  .burger-icon::after {
    bottom: -5.6px;
  }
  .mobile-burger-checkbox:checked ~ .mobile-burger .burger-icon {
    transform: rotate(45deg);
    transition: transform 0.2s;
  }
  .mobile-burger-checkbox:checked ~ .mobile-burger .burger-icon::before {
    display: none;
  }
  .mobile-burger-checkbox:checked ~ .mobile-burger .burger-icon::after {
    top: 0;
    transform: rotate(90deg);
  }
  .category-menu {
    flex-direction: column;
    margin-bottom: 10px;
  }
  .category-menu li .current {
    color: #082809;
  }
  .category-menu li {
    width: 100%;
    margin-bottom: 0;
    border-top: 1px solid #f4f5f3;
    border-radius: 8px;
    background: #F5FFF0;
  }
  .category-menu li:last-child {
    border-bottom: 1px solid #f4f5f3;
  }
  .category-menu li a {
    display: block;
    padding: 10px 0;
    padding-left: 56px;
    font-size: 14px;
    line-height: 17px;
    border-radius: 8px;
  }
  .category-menu li:hover,
  .category-menu li:active {
    background: #b1ff8a;
  }
  .submenu-wrapper {
    display: none;
  }
  nav li:hover .submenu-area,
  nav li:hover .submenu,
  nav li:hover .sub-icon::after {
    display: none;
  }
  nav li:hover .submenu-wrapper {
    display: none;
  }
  .category-gifts {
    flex-direction: column;
    padding: 5px 0;
    text-align: center;
    border-radius: 8px;
    background: #F5FFF0;
  }
  .category-gifts li {
    margin-bottom: 5px;
  }
  .category-gifts li .gifts-selection {
    text-decoration: underline;
    color: #358935;
  }
}
@media (max-width: 400px) {
  .likes-count,
  .basket-count {
    display: none;
  }
}
/*----------------------- Основной контент ------------------------------ */
.page-content > div {
  display: flex;
  flex-direction: column;
}
/* ==== Слайдер ====  */
.banner-slider {
  margin-bottom: 80px;
}
.slider {
  text-align: center;
}
.slick-slide img {
  display: inline !important;
}
.slick-arrow {
  font-size: 0;
  border: none;
  background: none;
}
.slick-arrow:hover {
  opacity: 0.7;
  cursor: pointer;
}
.slick-arrow:active {
  opacity: 0.4;
}
.slick-prev {
  position: absolute;
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 50;
}
.slick-next {
  position: absolute;
  right: -40px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 50;
}
.slider__control {
  text-decoration: none;
}
.slick-arrow {
  padding: 0;
}
.slick-arrow::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}
.slick-prev::before {
  background-image: url("../img/arrow-left.svg");
}
.slick-next::before {
  background-image: url("../img/arrow-right.svg");
}
/* стили для индикаторов */
.slick-dots {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}
.slick-dots button {
  display: none;
}
.slick-dots li {
  position: relative;
  bottom: -40px;
  width: 16px;
  height: 16px;
  margin-right: 3px;
  margin-left: 3px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 50%;
  border: 2px solid #969696;
}
.slick-dots li::before {
  position: absolute;
  top: 3px;
  left: 3px;
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #969696;
}
.slick-dots .slick-active {
  border: 2px solid #358935;
}
.slick-dots .slick-active::before {
  background: #358935;
}
/* контент слайда */
.slider-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  color: #358935;
}
.slider-text {
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
}
/* ==== Каталог ====  */
.shop-list {
  margin-bottom: 70px;
}
.shop-list input {
  display: none;
}
/* настройки табов и отображения товаров */
.tab-label {
  margin-right: 10px;
  padding: 8px 24px;
  color: #969696;
  font-size: 36px;
  line-height: 44px;
  font-weight: 500;
}
.tab-label:hover {
  cursor: pointer;
  color: #62c262;
}
.tab-label:active {
  color: #193f19;
}
.tab {
  display: none !important;
}
.shop-list input[id="tab-1"]:checked ~ .tabs-wrapper .tab-1,
.shop-list input[id="tab-2"]:checked ~ .tabs-wrapper .tab-2,
.shop-list input[id="tab-3"]:checked ~ .tabs-wrapper .tab-3 {
  display: flex !important;
  justify-content: center;
  align-items: center !important;
}
.shop-list input:checked + label {
  color: #358935;
  border: 1px solid #358935;
  box-sizing: border-box;
  border-radius: 24px;
}
.slick-track {
  display: flex !important;
}
.slick-slide {
  height: inherit !important;
}
/* ==== Товар ====  */
.shop-item {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  position: relative;
  width: 356px;
  margin: 20px 15px 20px 10px;
  padding: 24px 24px 32px 24px;
  box-sizing: border-box;
  background: #F8F9F8;
  border-radius: 24px;
}
.shop-item:hover {
  box-shadow: 4px 4px 10px rgba(53, 137, 53, 0.25), -4px -4px 10px rgba(53, 137, 53, 0.25);
}
.item-sku {
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #969696;
}
.item-like {
  position: absolute;
  top: 17px;
  right: 16px;
}
.item-like:hover .item-like-icon {
  fill: #F26262;
}
.item-like:active .item-like-icon {
  fill: #dc1212;
}
.liked .item-like-icon {
  fill: #358935;
}
.liked:hover .item-like-icon {
  fill: #62c262;
}
.liked:active .item-like-icon {
  fill: #193f19;
}
.item-like-icon {
  fill: #969696;
}
.item-image {
  display: block;
  text-align: center;
}
.item-stock {
  position: relative;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-left: 24px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  color: #358935;
}
.item-stock-icon {
  position: absolute;
  top: 0;
  left: 0;
  fill: #358935;
}
.out-of-stock {
  position: relative;
  color: #F26262;
}
.out-of-stock::before {
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  display: block;
  width: 16px;
  height: 1px;
  background: #F26262;
}
.item-title {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  text-decoration: none;
  color: #082809;
}
.item-title h3 {
  margin: 0;
  margin-bottom: 15px;
  font-size: 18px;
}
.item-size {
  margin: 0;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}
.item-price {
  margin: 0;
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  color: #358935;
}
.item-old-price {
  margin-left: 32px;
  font-weight: 400;
  text-decoration: line-through;
  color: #082809;
}
.item-buttons {
  display: flex;
  justify-content: space-between;
}
.add-to-cart {
  width: 50%;
  box-sizing: border-box;
  margin-right: 15px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  white-space: nowrap;
  box-shadow: 0px 4px 10px rgba(53, 137, 53, 0.15);
}
.buy {
  width: 50%;
  padding: 11px 16px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  white-space: nowrap;
  color: #358935;
  background: #fff;
  border: 1px solid #358935;
  box-shadow: 0px 4px 10px rgba(53, 137, 53, 0.15);
}
.buy:hover {
  color: #fff;
  background: #358935;
}
.buy:active {
  color: #fff;
  background: #193f19;
}
/* ==== Знаки зодиака ====  */
.zodiac {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.all-zodiac {
  color: #082809;
}
.zodiac-wrapper {
  width: 100%;
}
.zodiac-list {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 32px;
  padding: 0;
  list-style: none;
}
.zodiac-sign {
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
  width: 115px;
  min-height: 115px;
  margin-right: 20px;
  box-shadow: 4px 4px 10px rgba(53, 137, 53, 0.15), -4px -4px 10px rgba(53, 137, 53, 0.15);
}
.zodiac-sign a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 115px;
  text-decoration: none;
}
.zodiac-icon {
  fill: #358935;
}
.zodiac-title {
  margin: 0;
  margin-top: 5px;
  color: #082809;
}
.zodiac-sign:hover {
  background: #3EB340;
}
.zodiac-sign:hover .zodiac-title {
  color: #fff;
}
.zodiac-sign:hover .zodiac-icon {
  fill: #fff;
}
.zodiac-sign:active {
  background: #358935;
}
/* ==== Новости ====  */
.news {
  margin-bottom: 80px;
}
.news h2 {
  margin-bottom: 20px;
}
.news-wrapper {
  display: flex;
}
.news-item {
  max-width: 376px;
  margin-right: 25px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}
.news-item:hover {
  box-shadow: 4px 4px 10px rgba(53, 137, 53, 0.15), -4px -4px 10px rgba(53, 137, 53, 0.15);
}
.news-item:active {
  opacity: 0.5;
}
.news-item a {
  display: block;
  width: 100%;
  height: 100%;
  color: #082809;
  text-decoration: none;
}
.news-preview {
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}
.news-title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0 16px;
  line-height: 27px;
  text-decoration: underline;
}
.news-date {
  display: block;
  margin-bottom: 20px;
  padding: 0 16px;
  font-weight: 600;
  line-height: 27px;
  color: #358935;
}
.news-excerpt {
  margin: 0;
  padding: 0 16px 16px 16px;
  font-weight: 400;
}
/*----------------------- Основной контент - Планшетная Версия ------------------------------ */
@media (max-width: 1120px) {
  .slick-prev {
    left: -3.5%;
  }
  .slick-next {
    right: -3.5%;
  }
  .shop-list {
    margin-bottom: 60px;
  }
  .tab-label {
    font-size: 24px;
    line-height: 29px;
    font-weight: 600;
  }
  .shop-item {
    width: 300px;
  }
  .item-sku {
    font-size: 14px;
    line-height: 17px;
  }
  .item-stock {
    font-size: 14px;
    line-height: 17px;
  }
  .item-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
  }
  .item-title h3 {
    font-size: 16px;
  }
  .item-size {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
  }
  .item-price {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
  }
  .item-old-price {
    font-size: 14px;
    line-height: 17px;
  }
  .item-buttons {
    flex-direction: column;
    justify-content: flex-start;
  }
  .add-to-cart {
    width: 100%;
    margin: 0;
    margin-bottom: 16px;
  }
  .buy {
    width: 100%;
  }
  .news-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .news-item {
    max-width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 800px) {
  .zodiac-title {
    font-size: 14px;
  }
}
/*----------------------- Основной контент - Мобильная Версия ------------------------------ */
@media (max-width: 767px) {
  .slider-title {
    font-size: 24px;
    line-height: 29px;
  }
  .slider-text {
    font-size: 14px;
    line-height: 17px;
  }
  .slick-arrow::before {
    width: 16px;
    height: 16px;
  }
  .slick-prev {
    left: -2%;
  }
  .slick-next {
    right: -2%;
  }
  .shop-list {
    margin-bottom: 30px;
  }
  .shop-list .tab-label {
    margin-right: 5px;
    padding: 10px 0;
    font-size: 14px;
    line-height: 17px;
  }
  .shop-list input:checked + label {
    padding: 10px 15px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
  }
  .shop-item {
    width: 165px;
    margin: 20px 10px;
    padding: 16px;
  }
  .item-sku {
    font-size: 12px;
    line-height: 15px;
  }
  .item-like {
    top: 8px;
    right: 8px;
  }
  .item-stock {
    font-size: 12px;
    line-height: 15px;
  }
  .item-title,
  .item-title h3 {
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
  }
  .item-size {
    font-size: 12px;
    line-height: 15px;
  }
  .item-price {
    font-size: 16px;
    line-height: 20px;
  }
  .item-old-price {
    margin-left: 15px;
    font-size: 12px;
    line-height: 15px;
  }
  .item-buttons .add-to-cart,
  .item-buttons .buy {
    font-size: 12px;
    line-height: 21px;
  }
  .zodiac {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .all-zodiac {
    display: block;
    width: 100%;
    margin-top: 60px;
    order: 1;
    text-align: center;
  }
  .zodiac-sign {
    width: 86px;
    height: 86px;
  }
  .news {
    margin-bottom: 30px;
  }
  .news-item {
    width: 45%;
    margin-right: 10px;
    border-radius: 24px;
    background: #F8F9F8;
  }
  .news-title,
  .news-date {
    padding: 0 8px;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 21px;
  }
  .news-excerpt {
    margin-bottom: 8px;
    padding: 0 8px;
    font-size: 12px;
    line-height: 18px;
  }
}
@media (max-width: 400px) {
  .slick-prev {
    left: -4.5%;
  }
  .slick-next {
    right: -4.5%;
  }
  .shop-list .tab-label {
    display: block;
    margin-right: 0;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .news-item {
    width: 100%;
    margin-right: 0;
  }
}
/*----------------------- Подвал ------------------------------ */
.page-footer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}
.footer-contacts,
.footer-form {
  flex-basis: 50%;
}
/* ==== Лого и Контакты ====  */
.footer-logo {
  margin-bottom: 50px;
}
.footer-logo:hover {
  opacity: 0.8;
}
.footer-logo:active {
  opacity: 0.5;
}
.page-footer .time {
  text-align: left;
}
.page-footer .phone {
  margin-bottom: 50px;
  text-align: right;
}
.page-footer .phone a {
  width: 180px;
}
/* ==== Социальные сети ====  */
.social {
  display: flex;
  flex-wrap: wrap;
  width: 260px;
}
.social-link {
  margin-right: 32px;
  margin-bottom: 32px;
  text-decoration: none;
}
.social-link:hover {
  opacity: 0.8;
}
.social-link:active {
  opacity: 0.5;
}
/* ==== Все регионы ====  */
.regions-link {
  position: relative;
  display: block;
  padding-left: 44px;
  text-decoration: none;
  color: #3757A6;
}
.regions-link:hover {
  color: #738ed0;
}
.regions-link:hover .regions-icon {
  opacity: 0.8;
}
.regions-link:active {
  color: #1e2f59;
}
.regions-link:active .regions-icon {
  opacity: 0.5;
}
.regions-icon {
  position: absolute;
  top: 0;
  left: 0;
}
/* ==== Контактная форма ====  */
.footer-form {
  text-align: center;
}
.form-title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-weight: 600;
  color: #358935;
}
/* ==== Меню подвала ====  */
.footer-navigation {
  margin-top: 40px;
  width: 100%;
}
.footer-nav {
  display: flex;
  justify-content: center;
}
.footer-nav .menu-column {
  min-width: 250px;
  margin-right: 120px;
}
.footer-nav .menu-column:last-child {
  margin-right: 0;
}
.footer-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;
}
.footer-menu li {
  display: block;
  margin-bottom: 20px;
}
.footer-menu li a {
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #082809;
}
.footer-menu li a:hover {
  color: #3EB340;
}
.footer-menu li a:active {
  color: #358935;
}
.copyright {
  margin: 0;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 0;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  text-align: center;
  color: #969696;
}
/*----------------------- Подвал - Планшетная Версия ------------------------------ */
@media (max-width: 1120px) {
  .footer-contacts .time,
  .footer-contacts .phone a {
    font-size: 16px;
    line-height: 20px;
  }
  .regions-link {
    font-size: 14px;
  }
}
@media (max-width: 1010px) {
  .footer-nav {
    flex-wrap: wrap;
  }
  .menu-column .footer-menu {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .menu-column li {
    width: auto;
    margin-right: 30px;
  }
}
/*----------------------- Подвал - Мобильная Версия ------------------------------ */
@media (max-width: 767px) {
  .page-footer {
    flex-direction: column;
  }
  .footer-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-logo {
    margin-bottom: 10px;
  }
  .page-footer .time {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 17px;
  }
  .page-footer .phone {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 17px;
  }
  .page-footer .social {
    order: 1;
  }
  .regions-link {
    margin-bottom: 20px;
    font-size: 11px;
    line-height: 16px;
  }
  .footer-nav {
    flex-direction: column;
  }
  .footer-nav .menu-column {
    margin: 0;
  }
  .menu-column .footer-menu {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .menu-column li {
    margin-right: 0;
  }
  .menu-column li a {
    font-size: 14px;
    line-height: 21px;
  }
  .copyright {
    font-size: 11px;
    line-height: 13px;
  }
}
